################################################################################
# Android
################################################################################

bin/
build/

# gradle & android specific files
.gradle/
*.iml
.idea
local.properties

.DS_Store

################################################################################
# MyScript
################################################################################

# configuration files
*.conf

# resource files
*.res

# temporary folder
temp/
